* {
margin: 0;
padding: 0;
font-family: Emmanuel-Garvey;
}
.banner{
    width: 0cm;
    height: 0cm;
    background-image: url(960x0.jpg)
    background-size: cover;
    background-position: center;
    
}